* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
}

#card {
  height: 400px;
  border-radius: 10px;
  width: 300px;
  background-color: white;
  padding: 20px;
}

#card img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

#card h1 {
  font-size: 1.7rem;
  margin: 10px 60px;
}

#card h5 {
  font-size: 20px;
  color: rgb(45, 134, 190);
  margin: 10px 95px;
}

#card button {
  background-color: rgb(26, 113, 90);
  color: #fff;
  font-weight: bold;
  padding: 20px 50px;
  margin: 10px 55px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* #card #remove {
  background-color: #dadada;
  color: #111;
} */
